body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #d0c9ea;
    position: relative;
  }
  
  .title {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
  }
  
  .notepad {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fffec8;
    width: 400px;
    height: 550px;
    box-shadow: 20px 20px 30px rgb(91, 89, 89);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .input-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .to-do-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .edit-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  span {
    flex-grow: 1;
    margin-right: 10px;
  }
  